:root {
  --primary-color-75: #fbd46775;
  --secondary-color-75: #1a1a1375;
  --tertiary-color-75: #7c7c7b75;
  --white-color: #ffffff;
  --transparent-color: transparent;
}

.EmojiPickerReact {
  --epr-bg-color: var(--secondary-color) !important;
}

.cs-message-list {
  background-color: var(--white-color);
}

.cs-message__content {
  font-size: 13px;
  padding: 5px;
}

.cs-message--incoming .cs-message__content {
  background-color: var(--tertiary-color-75);
  color: var(--secondary-color);
}

.cs-message.cs-message--incoming .cs-message--first .cs-message__content {
  background-color: var(--tertiary-color-75);
  color: var(--secondary-color);
}

.cs-message--outgoing .cs-message__content {
  background-color: var(--primary-color-75);
  color: var(--secondary-color);
}

.cs-message.cs-message--outgoing .cs-message--first .cs-message__content {
  background-color: var(--primary-color-75);
  color: var(--secondary-color);
}

.cs-conversation:hover {
  background-color: var(--tertiary-color-75);
}

.cs-conversation .cs-conversation:active {
  background-color: var(--primary-color);
}

.cs-conversation-header {
  background-color: var(--primary-color);
}

.cs-conversation-header__content .cs-conversation-header__user-name {
  background-color: var(--transparent-color);
}

.cs-conversation-header__content .cs-conversation-header__info {
  background-color: var(--transparent-color);
}

.cs-conversation-header__actions .cs-button.cs-button--videocall,
.cs-conversation-header__actions .cs-button.cs-button--voicecall,
.cs-conversation-header__actions .cs-button.cs-button--ellipsis,
.cs-message-separator,
.cs-button--arrow {
  color: var(--secondary-color);
}

.cs-message-separator::before,
.cs-message-separator::after {
  background-color: var(--secondary-color);
}

.cs-search__input {
  background-color: var(--transparent-color);
}

.cs-search {
  background-color: var(--primary-color);
}

.cs-message-input__content-editor {
  background-color: var(--transparent-color) !important;
}

.cs-message-input__content-editor-container,
.cs-message-input__content-editor-wrapper {
  background-color: var(--primary-color);
}

.cs-button--attachment,
.cs-button--send {
  color: var(--secondary-color);
}

.cs-typing-indicator__text {
  color: var(--secondary-color-75);
}
.cs-typing-indicator__dot {
  background-color: var(--secondary-color-75);
}

.cs-search__search-icon {
  color: var(--secondary-color);
}

.ps__thumb-y {
  background-color: var(--secondary-color-75);
}

.cs-message-list .cs-typing-indicator {
  background-color: var(--transparent-color);
}

.button-arrow {
  transform: rotate(0deg);
  transition: transform 0.35s;
}

.button-arrow.clicked {
  transform: rotate(180deg);
}

.cs-button:hover:not(:disabled) {
  opacity: 1 !important;
}

.cs-conversation__content {
  margin-right: 0px !important;
}

.cs-sidebar {
  overflow: unset !important;
}
