@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Inter !important;
  margin: 0px !important;
}

:root {
  --primary-color: #fbd467;
  --primary-color-hover: rgba(245, 173, 18, 0.5);
  --secondary-color: #1a1a13;
  --height-content: 83.5vh;
  --test: #1a1a13;
}

.ant-form-item-label {
  padding: 0px !important;
  line-height: 14px !important;
}

.ant-layout-header {
  background-color: var(--secondary-color);
  height: 64px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.ant-layout .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: var(--secondary-color);
  transition: all 0.2s, background 0s;
}

.ant-layout-header {
  padding-inline: 50px;
  color: rgba(0, 0, 0, 0.88);
  background: var(--secondary-color);
}

.ant-menu-dark,
.ant-menu-dark > .ant-menu {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.ant-layout .ant-layout-sider-trigger {
  background: var(--secondary-color);
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-dark > .ant-menu .ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-dark > .ant-menu .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-item-selected {
  color: var(--secondary-color);
}

.ant-layout-header ul {
  width: 100%;
}

.ant-layout-header li {
  background: none;
  padding: 0 5px;
  border-radius: 10px !important;
  margin: 0 10px 0 0 !important;
}

.ant-layout-header li:first-child {
  margin: 0 10px 0 0 !important;
}

.ant-menu-overflow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
}

.ant-layout-footer {
  background-color: var(--secondary-color);
  padding: 10px 50px !important;
}

.ant-layout .ant-layout-sider-trigger {
  color: var(--primary-color);
}

.ant-tag {
  background-color: transparent !important;
  border: none !important;
  display: flex;
  padding: 0px;
  margin: 1px;
}

.--layout__content {
  height: var(--height-content);
  max-height: var(--height-content);
  max-width: 100vw;
}

.--layout__footer {
  background-color: var(--secondary-color);
}

/*.avatar-uploader .ant-upload-list-item {
  height: 142px !important;
  width: 142px !important;
}*/
