@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: Inter !important;
}

.ant-layout-header {
  background-color: #1a1a13;
  height: 64px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.ant-layout .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #1a1a13;
  transition: all 0.2s, background 0s;
}

.ant-layout-header {
  padding-inline: 50px;
  color: rgba(0, 0, 0, 0.88);
  background: #1a1a13;
}

.ant-menu-dark,
.ant-menu-dark>.ant-menu {
  color: #f8c65b;
  background: #1a1a13;
}

.ant-layout .ant-layout-sider-trigger {
  background: #1a1a13;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-dark>.ant-menu .ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu-selected,
.ant-menu-dark>.ant-menu .ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #1a1a13;
  background-color: #f8c65b;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-item-selected {
  color: #1a1a13;
}

.ant-layout-header ul {
  width: 100%;
}

.ant-layout-header li {
  background: none;
  padding: 0 5px;
  border-radius: 10px !important;
  margin: 0 10px 0 0 !important;
}

.ant-layout-header li:first-child {
  margin: 0 10px 0 0 !important;
}

.ant-menu-overflow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
}

.ant-layout-footer {
  background-color: #1a1a13;
  padding: 10px 50px !important;
}

.ant-layout .ant-layout-sider-trigger {
  color: #f8c65b;
}

.--layout__content {
  height: 83.5vh;
  max-height: 83.5vh;
}

.--layout__footer {
  background-color: #1a1a13;
}