.ant-layout-sider {
  min-height: 100vh;
}

.ant-layout-footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.ant-tooltip-inner {
  color: var(--primary-color) !important;
}

.--layout__footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-inline: 24;
}

.ant-menu-overflow-item {
  line-height: 30px;
}

/* .ant-menu-overflow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
} */

.--footer__avatar {
  margin-right: 10px;
}

.ant-float-btn-default .ant-float-btn-body {
  background-color: #01e675 !important;
}

.float-button {
  background-color: #01e675 !important;
  bottom: 72px !important;
  right: 32px !important;
  height: 120 !important;
  width: 120 !important;
}

.float-button-icon {
  color: white !important;
  font-size: 18px;
}
